* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--primary: rgb(0, 127, 255);
  --secondary: rgb(51, 51, 51);
}

html {
	scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

p, a, ul, li {
	margin: 0;
	padding: 0;
	text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.site-nav {
  display: flex;
  align-items: center;
  background: rgba(65, 65, 65, 0.5);
}

.site-nav h1 {
  width: 40%;
  margin: 10px 40px;
  border-bottom: 4px solid var(--primary);
  padding: 0 0 5px;
}

.links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 80%;
  margin: 10px 40px;
}

.links li a {
  text-decoration: none;
  margin: 0 30px;
  color: #d3d3d3;
  display: inline-block;
}

.links li a:hover {
  transform: scale(1.1);
}

.fa-bars {
  position: absolute;
  right: 20px;
  top: 20px;
}

.links {
  display: none;
}

#welcome {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 130px auto;
}

.welcome-text, .welcome-img {
  width: 50%;
  text-align: center;
}

.welcome-text {
  padding: 50px;
}

.welcome-text h2 {
  display: inline-flex;
  font-size: 50px;
  margin: 10px 0;
}

.welcome-text h4 {
  font-size: 30px;
  /* margin: 0 0 50px; */
}

.name {
  color: var(--primary);
}

.welcome-img img {
  max-height: 280px;
  /* padding: 30px; */
  border-radius: 50%;
  box-shadow: 0 0 25px #111;
}

.location-bio {
  font-size: 1.3em;
  margin: 20px;
}

.loc-bio {
  margin: 10px;
}

.button {
  border: 2px solid;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background: var(--primary);
  /* box-shadow: 2px 2px 5px 2px; */
  box-shadow: 1px 1px 5px 3px #a9a9a9;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  transform: scale(1.1);
  transform: translateY(-2px);
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
}

#about {
  width: 80%;
  display: flex;
  margin: 130px auto;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  text-align: center;
  margin: 40px auto;
  color: var(--primary);
}

.info {
  font-size: 1.2em;
  line-height: 1.7em;
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#portfolio a {
  margin: 1.1em;
}

#portfolio img {
  height: 100px;
  margin: 1.05em;
}

#portfolio img:hover {
  transform: scale(1.1);
}

#skills {
  margin-top: 150px;
}

.skills-grid {
	justify-items: center;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#skills ul img {
	height: 90px;
	width: 90px;
}

#skills ul li {
  margin: 1em .5em;
}

#contact {
  margin-top: 150px;
}

.socials {
	width: 100%;
	text-align: center;
	margin: auto;
}

.fa-phone, .fa-envelope, .fa-linkedin, .fa-github {
	font-size: 2em;
	margin: 30px 0;
	cursor: pointer;
	color: var(--primary);
}

.fa-solid:hover, .fa-brands:hover {
	transform: scale(1.1);
}

.fa-baseball {
	font-size: 1em;
	color: var(--primary);
	cursor: default;
	margin: 10px;
}

.fa-baseball:hover {
	transform: none;
}

.socials li {
	margin: 20px;
}

.socials p {
	cursor: pointer;
}

.page-footer {
	text-align: center;
	background: rgba(0,0,0,0.2);
  padding-top: 10px;
  margin-top: 100px;
}

.footer-text {
	color: #DDDBFF;
  padding-bottom: 5px;
}

@media screen and (min-width: 620px) {
  .site-nav h1 {
    width: 35%;
  }

  h3 {
    font-size: 2em;
  }

	.welcome-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 100px auto;
		width: 90%;
  }

  #skills ul img {
    /* height: 120px;
    width: 120px;
    margin: 30px; */

    height: 100px;
    width: 100px;
    margin: 25px 0;
  }

  .socials {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		text-align: center;
		margin: auto;
	}
}

@media screen and (min-width: 820px) {
  .site-nav h1 {
    width: 30%;
  }

  .welcome-text h4 {
    line-height: 1.4;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #portfolio a {
    margin: 1.5em;
    padding: 1.5em;
  }
}

@media screen and (min-width: 960px) {
  .site-nav h1 {
    width: 30%;
  }

  .links {
    width: 70%;
  }

  h3 {
    font-size: 2.5em;
  }

  .location-bio {
    font-size: 1.4em;
    margin: 30px 0 40px;
  }

  .loc-bio {
    margin: 15px;
  }

  .skills-grid {
		display: grid;
    grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		align-items: center;
		/* width: 85%; */
    width: 75%;
		margin: auto;
    font-size: 1.2em;
	}

  .site-nav .fa-bars {
    display: none;
  }

  #portfolio, #skills, #contact {
    margin-top: 180px;
  }

  .info {
    font-size: 1.3em;
    width: 80%;
    margin: auto;
  }

  .projects {
    width: 90%;
    margin: auto;
  }

  #portfolio a {
    margin: 2.5em;
    font-size: 1.2em;
    height: 200px;
  }

  #portfolio img {
    height: 130px;
  }

	#skills > ul > li:nth-child(3) > img {
		/* height: 110px; */
		padding-top: 20px;
	}

  .socials {
		width: 80%;
    margin-bottom: 40px;
    font-size: 1.1em;
	}

	.fa-phone, .fa-envelope, .fa-linkedin, .fa-github {
		font-size: 2em;
	}
}

@media screen and (min-width: 1070px) {
  .site-nav h1 {
    width: 20%;
  }
}